/** Device widths: (Mobile)375px & (Desktop)1440px
*/

@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* -------------------- CSS VARIABLES ------------------- */
:root {
  --clr-primary-magenta: hsl(300,43%,22%);
  --clr-primary-pink: hsl(333,80%,67%);
  --clr-neutral-magenta-dark: hsl(303,10%,53%);
  --clr-neutral-magenta-light: hsl(300,24%,96%);
  --clr-neutral-white: hsl(0,0%,100%);

  --fs-body: 15px;

  --ff-spartan: 'Spartan', sans-serif;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* STYLES STARTS HERE */
