@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  margin-top: 2.67em;
  margin-bottom: 2.67em;
}

.testimonial__container {
  width: min(80%, 23.33rem);
  padding: 2.26em;
  border-radius: 0.8rem;
  background-color: #502050;
}
.testimonial__container p {
  color: #f7f2f7;
}
.testimonial__container .profile {
  display: flex;
  flex-direction: row;
  gap: 1.6em;
}
.testimonial__container .profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.testimonial__container .profile .profile__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  color: white;
  font-weight: 700;
}
.testimonial__container .profile .profile__name .verify-btn {
  color: #ee68a4;
  font-weight: 400;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__rated {
  width: min(80vw, 444px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1.06em;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  color: #502050;
  font-weight: 700;
  background-color: #f7f2f7;
}
.review__rated .stars {
  display: flex;
  justify-content: center;
  gap: 0.53em;
}

@media (min-width: 42.6em) {
  body {
    font-size: 17px;
  }
}
@media (max-width: 67em) {
  body {
    background: url(../../img/bg-pattern-top-mobile.svg) no-repeat top left, url(../../img/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    background-attachment: fixed;
  }
  body .container__content h1 {
    margin-top: 3.5em;
  }
}
@media (min-width: 67em) {
  body {
    background: url(../../img/bg-pattern-top-desktop.svg) no-repeat top left, url(../../img/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
    background-attachment: fixed;
  }
  body .container__content h1 {
    margin-top: 3.5em;
  }
}

@media (max-width: 67em) {
  .container__content h1 {
    margin-top: 3.5em;
  }
}
@media (min-width: 67em) {
  .review .review__rated {
    flex-direction: row;
    gap: 1.3em;
  }
}

@media (min-width: 89em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: min(75%, 74.6em);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .container .container__content {
    width: 80%;
    text-align: left;
    margin: 0;
  }
  .container .container__content h1 {
    margin-top: 0;
  }
  .container .review .review__rated:nth-child(2) {
    margin-left: 3.06em;
  }
  .container .review .review__rated:nth-child(3) {
    margin-left: 6.13em;
  }

  .testimonial {
    flex-direction: row;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .testimonial .testimonial__container:nth-child(2) {
    margin-top: 1.06em;
  }
  .testimonial .testimonial__container:nth-child(3) {
    margin-top: 2.13em;
  }
}
footer {
  text-align: center;
  margin-top: 2em;
}

.attribution {
  display: inline-block;
  margin: auto;
  font-size: 13px;
  color: #937b92;
}
.attribution a {
  text-decoration: none;
  color: #ee68a4;
}
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

.container__content {
  width: min(80%, 427px);
  margin: 0 auto;
  text-align: center;
}
.container__content h1 {
  line-height: 1;
  color: #502050;
}
.container__content p {
  margin-top: 24px;
  margin-bottom: 46px;
  font-weight: 400;
  color: #937b92;
}

/*# sourceMappingURL=style.css.map */
