@use 'resets/resets';
@use 'components/components' as compo;
@use 'abstracts/abstracts' as abs;

.container__content {
  width: min(80%, 427px);
  margin: 0 auto;
  text-align: center;
  & h1 {
    line-height: 1;
    color: abs.$primary-dark-magenta;
  }
  & p {
    margin-top: 24px;
    margin-bottom: 46px;
    font-weight: map-get(abs.$font-weight, normal);
    color: abs.$neutral-dark-magenta;
  }
}